.contact {
  margin-top: 50px;

  h1 {
    font-size: 3rem;
    font-family: Karla;
    line-height: 1;
  }

  p {
    white-space: pre-line;
    text-align: left;
    margin-top: 25px;
    max-width: 328px;
    width: 100%;
    font-size: 2.5rem;
    font-family: GoogleSans;
    line-height: 2;
  }

}