html {
  font-size: 55%;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}


@font-face {
  font-family: OpenSans;
  src: url('../../assets/fonts/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: GoogleSans;
  src: url('../../assets/fonts/ProductSans-Regular.ttf');
}

@font-face {
  font-family: Karla;
  src: url('../../assets/fonts/Karla-Bold.ttf');
}


#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'wrapper';
  grid-row-gap: 0px;
  padding: 0px 50px;
}

.wrapper {
  grid-area: wrapper;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;
  width: 100%;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header''content';
  grid-row-gap: 0px;

}

.light {
  color: #000000;
  background-color: #ffffff;
}

.dark {
  color: #ffffff;
  background-color: #212731;
}

header {
  width: 100%;
  justify-self: stretch;
  height: auto;
  grid-area: header;
}

main {
  grid-area: content;
  justify-self: stretch;
  width: 100%;
  overflow-x: hidden;
 
}

a {
  color: inherit;
  font-size: 2.5rem;
  text-decoration: none;
}

@media (max-width: 665px) {
  html {
    font-size: 55%;
  }

}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .projects .icon h1 {
    padding-top: 5px;
  }

  .projects .icon {
    background-size: 44px 42px;
  }


}

@media (max-width: 445px) {
  html {
    font-size: 45%;
  }

  .projects .icon h1 {
    padding-top: 5px;
    padding-left: 60px;
  }

  .projects .icon {
    background-size: 40px 38px;

  }

  .app {
    padding: 0 30px;
  }
}

@media (max-width: 415px) {
  

  .projects p > a {
    display: block;
  }

 
 
}